<h2 class="text-center my-3">Post Inattivi</h2>
<div
  class="d-flex justify-content-center"
  *ngFor="let post of posts; let i = index"
>
  <div class="mx-5 my-3 w-50" *ngIf="!post.active">
    <div
      class="card"
      [ngClass]="{
        'text-bg-warning': post.type === 'news',
        'text-bg-dark': post.type === 'politic',
        'text-bg-primary': post.type === 'education'
      }"
    >
      <h5 class="card-header">{{ post.id }}° Post</h5>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
          {{ post.body }}
        </p>
        <button
          type="button"
          class="btn btn-primary border-light border-2"
          (click)="callUpdatePost(i)"
        >
          Attiva
        </button>
      </div>
    </div>
  </div>
</div>
